# Whitelisting is easier than blacklisting
*
*/
*/*
*/**

# Whitelist

!.gitignore
!.gitattributes
!LICENSE
!README.md

!calibrate_joysticks.sh
!clicker.sh
!efibootmgr-add_entries.sh
!symlinks.sh

!
!zshrc
!vimrc
!xinitrc

!Code\ -\ OSS/User/settings.json

!compton.conf

!i3/*
!polybar/*
!kitty/*
!wal/*
!rofi/*
!ncmpcpp/*
!mpd/*
!pcmanfm/*
!neofetch/*

