# Ignore everything
/*

# Whitelist the desired files


!/.gitignore
!.gitattributes
!LICENSE
!README.md


!calibrate_joysticks.sh
!clicker.sh
!efibootmgr-add_entries.sh
!symlinks.sh
!set_random_wallpaper.sh


!zshrc
!vimrc
!xinitrc
!bashrc


!gtk-3.0/
!gtk-3.0/*


!Code\ -\ OSS/User/settings.json


!compton.conf


!i3/
!i3/*

!kitty/
!kitty/*

!polybar/
!polybar/*

!wal/
!wal/*

!rofi/
!rofi/*

!ncmpcpp/
!ncmpcpp/*

!mpd/
!mpd/*
mpd/database
mpd/pid
mpd/state

!pcmanfm/
!pcmanfm/*

!neofetch/
!neofetch/*
